:root {
	--default-margin: 16px;
	--short-margin: calc(var(--default-margin) / 2);
	--header-height: 40px;
}

:not(.vega-embed *) {
	font-family: 'Source Sans 3', sans-serif;
	accent-color: #087021;
}

body {
	margin: 0;
}

[hidden] {
	display: none !important;
}

label, a, button, select {
	cursor: pointer;
}

a {
	color: unset;
	text-decoration: unset;
}

:disabled {
	cursor: not-allowed;
}

.button:has(:disabled) {
	cursor: not-allowed;
}

.button {
	padding: 8px 12px;
	border-radius: 6px;
	border: none;
	background-color: #087021;
	color: white;
	font-size: 15px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: var(--short-margin);
	white-space: nowrap;
	min-width: max-content;
}

.button.reversed {
	background-color: white;
	color: #087021;
	border: 1px solid currentColor;
}

.button.minimal {
	background-color: transparent !important;
	border: none;
}

.button.small {
	padding: 4px 12px;
}

.button:hover {
	background-color: #07661E;
}

.button.reversed:hover, .dropdown-button:hover {
	background-color: #EBF5ED;
	color: #07661E;
}

.button:active {
	background-color: #043E12;
}

.button.reversed:active, .dropdown-button:has(> input:checked) {
	background-color: #BEDAC5;
	color: #043E12;
}

.button:disabled, .button:has(:disabled) {
	background-color: #BFC6CF;
}

.button.reversed:disabled, .button.reversed:has(:disabled) {
	background-color: white;
	color: #BFC6CF;
}

.icon {
	display: flex;
}

.icon > * {
	width: 100%;
	height: 100%;
}

.button > .icon {
	width: 20px;
	height: 20px;
}

.button > .large.icon {
	width: 24px;
	height: 24px;
}

.button > input {
	display: none;
}

.checkbox {
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #11111166;
	box-sizing: border-box;
}

.checkbox:has(input:checked) {
	background-color: #043E12;
	border: none;
}

input[type=text], input[type=number] {
	appearance: textfield;
	border: 1px solid #11111133;
	border-radius: 8px;
	padding: 0 var(--default-margin);
	height: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #585B5F;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type=text]::placeholder, input[type=number]::placeholder {
	color: #93999F;
	opacity: 1;
}

select {
	font-size: 15px;
	color: #585B5F;
	background-color: white;
	border: 12px solid transparent;
	border-top: none;
	border-bottom: none;
	padding: 0;
	margin: 1px;
	box-shadow: 0 0 0 1px #11111133;
	border-radius: 6px;
	height: 38px;
}

select:disabled {
	color: #1111114D;
	background-color: #1111110D;
	box-shadow: 0 0 0 1px #1111111A;
}

select:has(> option[hidden]:checked) {
	color: #93999F;
}

select.big {
	height: 46px;
}

.main-container {
	height: 100dvh;
	margin-bottom: calc(100lvh - 100dvh);
	overflow: hidden;
	background-image: linear-gradient(90deg, white, #D2E5D6);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header"
		"nav main"
		"nav-footer main-footer";
}

.main-container > header {
	grid-area: header;
	overflow: auto;
	background-color: white;
	border-bottom: 1px solid #D9E0E7;
	padding: var(--short-margin) var(--default-margin);
	display: flex;
	justify-content: space-between;
}

.main-container > header > * {
	height: var(--header-height);
}

.main-header-logos {
	display: flex;
}

.header-divider {
	border-left: 1px solid #585B5F;
	height: 100%;
	margin: 0 var(--default-margin);
}

.user-header {
	display: flex;
	cursor: pointer;
	align-items: center;
}

.user-header > :not(:first-child):not(:last-child) {
	margin-right: var(--short-margin);
}

.header-avatar {
	height: 100%;
}

.header-username {
	display: flex;
	flex-direction: column;
	font-size: 11px;
	font-weight: 600;
	white-space: nowrap;
}

.header-username > span:first-child {
	color: #585B5F;
}

.dropdown {
	display: none;
	position: absolute;
	right: 0;
	flex-direction: column;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #1111111A;
	overflow: hidden;
}

.dropdown.user {
	top: calc(var(--header-height) + var(--default-margin));
	margin: -3px 11px !important;
	min-width: 223px;
}

.dropdown.from-button {
	bottom: -2px;
	right: -1px;
	transform: translateY(100%);
	min-width: 193px;
}

.dropdown.color {
	border: 1px solid #087021;
}

input:checked ~ .dropdown {
	display: flex;
}

.dropdown > * {
	padding: var(--short-margin) var(--default-margin);
	font-size: 13px;
	font-weight: 600;
	color: black;
}

.dropdown > a:not(:first-child) {
	border-top: 1px solid #1111111A;
}

.dropdown.color > a:not(:first-child) {
	border-top: 1px solid #087021;
}

.dropdown > *:hover {
	background-color: #1111110D;
}

.main-container > nav {
	display: contents;
}

.main-container > nav > nav {
	grid-area: nav;
	overflow: auto;
}

.main-container > nav > footer {
	grid-area: nav-footer;
	overflow: auto;
}

.main-container > main {
	grid-area: main;
	overflow: auto;
}

.main-container > footer {
	grid-area: main-footer;
	overflow: auto;
}

.main-container > nav > * {
	border-right: 1px solid #D9E0E7;
	background-color: white;
	min-width: 248px;
}

.main-container > footer, .main-container > nav > footer {
	display: flex;
	align-items: center;
	border-top: 1px solid #D9E0E7;
	background-color: white;
}

.main-container > footer {
	justify-content: space-between;
	padding: 0 var(--default-margin);
	color: #585B5F;
	white-space: nowrap;
}

.main-container > footer > section {
	display: flex;
	align-items: center;
	min-height: 48px;
}

.footer-sponsors {
	font-size: 13px;
}

.footer-sponsors > .header-divider {
	height: 18px;
	margin: 0 calc(var(--short-margin) / 2);
}

.footer-links {
	font-size: 11px;
	font-weight: 600;
	text-decoration: underline;
	margin-left: var(--default-margin);
}

.footer-links > .header-divider {
	height: 16px;
	margin: 0 var(--short-margin);
}

.nav-link {
	display: flex;
	padding: 13px 28px;
	color: #585B5F;
	font-size: 15px;
	font-weight: 600;
	flex-grow: 1;
}

.nav-link > :not(:first-child) {
	margin-left: 12px;
}

.nav-link.active {
	color: #0B4C1A;
	background-color: #BEDAC5;
	border-right: 2px solid #0B4C1A;
}

.nav-link:hover {
	color: black;
}

.main-container > nav > nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 0 20px;
}

.main-container > nav > nav > section {
	display: flex;
	flex-direction: column;
}

.main-section {
	padding: 0 32px 32px;
}

.breadcrumb {
	display: flex;
	align-items: center;
	padding: var(--default-margin) 0 var(--short-margin);
	color: #585B5F;
	font-size: 11px;
	font-weight: 600;
	column-gap: 2px;
}

.breadcrumb > a {
	display: flex;
	align-items: center;
	column-gap: 2px;
}

.breadcrumb > :last-child {
	color: #087021;
}

.main-title {
	margin: var(--default-margin) 0 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: var(--default-margin);
}

.main-title-text {
	max-width: 950px;
	display: flex;
	flex-direction: column;
	row-gap: var(--short-margin);
}

.main-title-text > h1 {
	margin: 0;
	color: #032F0E;
	font-size: 22px;
	font-weight: 700;
}

.main-title-text > p {
	font-size: 15px;
	margin: 0;
}

.main-title-buttons {
	display: flex;
	column-gap: var(--short-margin);
	font-size: 16px;
}

.main-title-buttons > .button {
	font-size: inherit;
}

.dropdown-button {
	position: relative;
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 6px;
	border: 1px solid currentColor;
	color: #087021;
}

.dropdown-button > span {
	padding: var(--short-margin) 12px;
	font-size: 16px;
	font-weight: 600;
}

.dropdown-button > .icon {
	height: 24px;
	width: 24px;
	border-left: 1px solid currentColor;
}

.tabs {
	display: flex;
	align-items: flex-start;
}

.tabs > button {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid currentColor;
	color: #111111B2;
	padding: var(--short-margin) var(--default-margin) calc(var(--short-margin) - 1px);
	font-size: 15px;
	font-weight: 600;
	white-space: nowrap;
}

.tabs > button.active {
	color: #0B4C1A;
	border-width: 2px;
	padding-bottom: calc(var(--short-margin) - 2px);
}

.tabs > button:hover:not(:disabled) {
	background-color: #BEDAC5;
}

.tabs > button:disabled {
	color: #11111166;
}

.main-content {
	background-color: white;
	margin-top: var(--default-margin);
	border-radius: 6px;
	border: 1px solid #73777D;
	min-width: min-content;
}

.main-content > header {
	padding: 12px 0;
	border-bottom: 1px solid #73777D;
}

.main-content > header:not(:first-child) {
	border-top: 1px solid #73777D;
}

.main-content > header > h2 {
	margin: 0 var(--default-margin);
	font-size: 20px;
	font-weight: 600;
	color: #111111E5;
}

.main-content > header > h3 {
	margin: 0 var(--default-margin);
	color: #585B5F;
	font-size: 13px;
	font-weight: 600;
}

.main-content > header > p {
	margin: 0 var(--default-margin);
	font-size: 13px;
	color: #585B5F;
	max-width: 600px;
}

.main-content > main {
	padding: var(--default-margin);
}

.data-load-content {
	display: flex;
	flex-direction: column;
	max-width: max-content;
	margin: auto;
	row-gap: var(--default-margin);
}

.stepper {
	display: flex;
	align-items: center;
	text-align: center;
	column-gap: var(--short-margin);
	margin-bottom: var(--default-margin);
}

.step-icon {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 128px;
	font-size: 16px;
	font-weight: 600;
	color: #93999F;
	border: 1px solid #11111133;
	flex-shrink: 0;
}

.step-icon.active {
	color: white;
	background-color: #087021;
	border: 1px solid #043E12;
}

.step-text {
	font-size: 14px;
	font-weight: 600;
	color: #93999F;
}

.step-text.active {
	color: #087021;
}

.data-load-content > .button {
	align-self: flex-end;
}

.radio-label {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: calc(var(--short-margin) / 2) var(--short-margin);
	border: 1px solid #11111133;
	border-radius: 4px;
	padding: 12px 18px;
	max-width: 580px;
	box-sizing: border-box;
}

.radio-label > :not(:first-child) {
	grid-column: 2;
}

.radio-label > input {
	margin: 0;
	appearance: none;
	box-sizing: border-box;
	border-radius: 24px;
	width: 24px;
	height: 24px;
	border: 1px solid #11111133;
}

.radio-label > input:checked {
	border: 2px solid #043E12;
	background-color: #043E12;
	box-shadow: inset 0 0 0 3.3px white;
}

.radio-label > h3 {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	color: #111111B2;
}

.radio-label > p {
	margin: 0;
	font-size: 15px;
	font-weight: 600;
	color: #111111B2;
}

.radio-label:has(> input:checked) {
	border: 2px solid #0B4C1A;
	cursor: unset;
	box-shadow: 0px 0px 0px 4px rgba(8, 112, 33, 0.20);
}

.radio-file {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	justify-items: start;
	gap: var(--short-margin);
	border-radius: 8px;
	padding: var(--default-margin);
	background-color: #EBF5ED;
	margin-top: 12px;
}

input:not(:checked) ~ .radio-file {
	display: none;
}

.radio-file > :not(:first-child) {
	grid-column: 2;
}

.radio-file > p {
	margin: 0;
	font-size: 15px;
	font-weight: 600;
	color: #111111B2;
}

.radio-file > p > b {
	color: #087021;
	font-weight: 600;
}

.radio-file > .button {
	margin-top: var(--short-margin);
}

.radio-file > .button.adjusted {
	padding-right: var(--short-margin);
}

.modal::backdrop {
	background-color: #111111B2;
}

.modal {
	flex-direction: column;
	row-gap: var(--default-margin);
	border: none;
	border-radius: 6px;
	padding: 24px;
	width: min(608px, 100%);
	box-sizing: border-box;
}

.modal[open] {
	display: flex;
}

.modal.loading {
	width: min(400px, 100%);
	font-size: 16px;
	font-weight: 600;
	color: #043E12;
	align-items: center;
	text-align: center;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.modal.loading > img {
	animation: spin 2s steps(12) infinite; 
}

.modal.loading > p {
	margin: 0;
	text-wrap: balance;
}

.modal.error {
	width: min(530px, 100%);
	padding: 32px 24px;
	row-gap: 32px;
	align-items: center;
	text-align: center;
}

.modal.error p {
	margin: 0;
	font-size: 15px;
	color: #111111CC;
	text-wrap: balance;
}

.modal.error p a {
	text-decoration: underline;
}

.modal.error h4 {
	margin: 0;
	font-size: 17px;
	text-wrap: balance;
}

.modal.error > .button {
	padding: 8px 28px;
}

.close-button {
	display: flex;
	background-color: transparent;
	border: none;
}

.close-button:hover {
	color: black !important;
}

.modal.error > .close-button {
	position: absolute;
	top: 32px;
	right: 24px;
	padding: 0;
	height: 24px;
	width: 24px;
	color: #111111CC;
}

.modal.error > .close-button > * {
	height: 100%;
	width: 100%;
}

.modal-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: var(--short-margin);
	margin-bottom: var(--short-margin);
}

.modal-top h3 {
	margin: 0;
	font-size: 26px;
	font-weight: 700;
}

.modal-top p {
	margin: 0;
	font-size: 15px;
	color: #585B5F;
}

.modal-top > .close-button {
	padding: 6px;
	color: #585B5F;
}

.modal-input {
	display: flex;
	flex-direction: column;
	row-gap: var(--short-margin);
}

.modal-input.padded {
	padding: var(--short-margin) 0;
}

.modal-input h4 {
	margin: 0;
	font-size: 15px;
	font-weight: 600;
}

.modal-input > p {
	margin: 0;
	font-size: 13px;
	color: #585B5F;
}

.modal-input-top {
	display: flex;
	align-items: center;
	column-gap: var(--short-margin);
}

.lead {
	display: flex;
	position: relative;
}

.lead::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 10px;
}

.lead > .tooltip {
	visibility: hidden;
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: #585B5F;
	font-size: 15px;
	font-weight: 400;
	width: max-content;
	max-width: 400px;
	border: 1px solid #5A9F6A;
	border-radius: 4px;
	padding: 8px 12px;
	box-shadow: 1px 1px 1px #585B5F;
	background-color: white;
	margin: 0 10px;
}

.lead > .tooltip > p {
	margin: 0;
}

.lead > .tooltip > h4 {
	margin: 0;
	font-size: 17px;
	color: #111111CC;
	font-weight: 600;
}

.lead > .tooltip a {
	text-decoration: underline;
}

.lead:hover > .tooltip {
	visibility: visible;
}

.lead > .tooltip::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	height: 7px;
	width: 7px;
	border: 1px solid #5A9F6A;
	border-bottom-left-radius: 2px;
	background-color: white;
	clip-path: polygon(0 0, .2px 0, 100% calc(100% - .2px), 100% 100%, 0 100%);
	transform: translate(-50%, -50%) rotate(45deg);
}

.lead.left::after {
	top: 0;
	bottom: 0;
	left: unset;
	right: 100%;
	width: 10px;
}

.lead.left > .tooltip {
	left: unset;
	right: 100%;
	box-shadow: -1px 1px 1px #585B5F;
}

.lead.left > .tooltip::after {
	left: unset;
	right: 0;
	transform: translate(50%, -50%) rotate(-135deg);
}

.lead.top::after {
	left: 0;
	right: 0;
	bottom: 100%;
	top: unset;
	width: unset;
	height: 10px;
}

.lead.top > .tooltip {
	left: 50%;
	bottom: 100%;
	top: unset;
	transform: translateX(-50%);
	margin: 10px 0;
	box-shadow: 1px -1px 1px #585B5F;
}

.lead.top > .tooltip::after {
	left: 50%;
	top: unset;
	bottom: 0;
	transform: translate(-50%, 50%) rotate(-45deg);
}

.uploaded-file {
	justify-self: stretch;
	display: grid;
	grid-template-columns: 1fr auto;
	padding: var(--short-margin);
	padding-left: var(--default-margin);
	background-color: #BEDAC5;
	border-radius: 4px;
	column-gap: var(--short-margin);
}

.uploaded-file > span {
	align-self: end;
	font-size: 13px;
	font-weight: 600;
	color: #111111CC;
}

.uploaded-file > progress {
	grid-column: span 2;
	width: 100%;
}

.uploaded-file > .close-button {
	padding: 4px;
	color: #111111CC;
	box-sizing: content-box;
	width: 16px;
	height: 16px;
}

.uploaded-file > .close-button > * {
	width: 100%;
	height: 100%;
}

.buttons-row {
	display: flex;
	justify-content: space-between;
}

.buttons-row > section {
	display: flex;
	column-gap: 10px;
}

.feedback {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: start;
	margin: var(--short-margin);
	padding: 12px;
	column-gap: var(--short-margin);
	background-color: #EAF8F0;
	border: 1px solid #9DE0B9;
	border-radius: 6px;
}

.feedback > .close-button {
	color: #111111CC;
	padding: 0;
	height: 24px;
	width: 24px;
}

.feedback > .close-button > * {
	height: 100%;
	width: 100%;
}

.feedback h3 {
	margin: 0;
	font-size: 17px;
	font-weight: 600;
}

.feedback p {
	margin: 0;
	font-size: 15px;
	color: #111111CC
}

.feedback + * {
	border-top: 1px solid #73777D;
}

.dual-container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.dual-container.single {
	grid-template-columns: 1fr;
}

.dual-container > .left {
	grid-column: 1;
}

.dual-container > .right {
	grid-column: 3;
}

.dual-container > .expand {
	grid-column: span 3;
}

.dual-container > .border {
	grid-column: 2;
	width: 1px;
	background-color: #11111166;
	padding: var(--short-margin) 0;
	background-clip: content-box;
}

.dual-header {
	margin: var(--short-margin) var(--default-margin);
	display: grid;
	grid-template-areas:
		"title button"
		"subtitle subtitle"
		"border border"
		"extra extra";
	grid-template-rows: subgrid;
	grid-row: span 4;
	align-items: center;
	justify-content: space-between;
	align-content: start;
	gap: 4px var(--short-margin);
}

.single-header {
	margin: 12px var(--default-margin);
}

.dual-header > h2, .single-header > h2 {
	grid-area: title;
	margin: 0;
	color: #111111E5;
	font-size: 20px;
	font-weight: 600;
}

.dual-header > p, .single-header > p {
	grid-area: subtitle;
	margin: 0;
	color: #585B5F;
	font-size: 13px;
	font-weight: 600;
}

.dual-header > .border {
	grid-area: border;
	border-top: 1px solid #D9E0E7;
}

.dual-header > label {
	grid-area: button;
	display: flex;
	align-items: center;
	color: #585B5F;
	font-size: 13px;
	column-gap: var(--short-margin);
	border: 1px solid #11111133;
	border-radius: 4px;
	padding: 0 var(--short-margin);
	height: 32px;
	box-sizing: border-box;
	position: relative;
}

.dual-header > label > .icon {
	width: 20px;
	height: 20px;
}

.dual-header > article {
	grid-area: extra;
	display: flex;
	column-gap: var(--short-margin);
	font-size: 13px;
	color: #585B5F;
}

.dual-header > article > span:first-of-type {
	font-weight: 600;
}

.dual-header + .border {
	grid-row: span 4;
}

.expand-arrow {
	height: 20px;
	width: 20px;
	color: #585B5F;
}

.expand-arrow > input:checked + * {
	display: none;
}

.expand-arrow > input:not(:checked) ~ *:last-child {
	display: none;
}

.variable {
	padding: var(--short-margin);
	border-top: 1px solid #BFC6CF;
	align-items: center;
	gap: var(--short-margin);
	font-size: 15px;
	color: #111111CC;
}

.variable.header {
	display: flex;
	margin-bottom: var(--short-margin);
	background-color: #1111110D;
	border-top: 1px solid #11111180;
	border-bottom: 1px solid #11111180;
}

.variable > .border {
	border-left: 1px solid #11111166;
	height: 100%;
}

.variable.header > span {
	font-weight: 600;
}

.variable.header + .border {
	margin-bottom: var(--short-margin);
	border-top: 1px solid #11111180;
	border-bottom: 1px solid #11111180;
	background-color: transparent;
	background-image: linear-gradient(#11111166, #11111166), linear-gradient(#1111110D, #1111110D);
	background-clip: content-box, padding-box;
}

.variable.left {
	padding-left: var(--default-margin);
}

.variable.view {
	--columns: 5;
	display: grid;
	grid-template-columns: repeat(calc(var(--columns) - 2), auto) 1fr auto;
	align-content: start;
}

.variable.view.right {
	--columns: 4;
}

.variable.view.left:not(:has(~ .variable.view.left)):has(~ .variable.view.right ~ .variable.view.right),
.variable.view.right:not(:has(~ .variable.view.right)):has(~ .variable.view.left) {
	border-bottom: 1px solid #BFC6CF;
	margin-bottom: -1px;
}

.variable.view + .border {
	border-top: 1px solid #BFC6CF;
	background-color: #BFC6CF;
}

.variable.view > .border {
	border-color: #BFC6CF;
}

.variable > .button {
	padding: calc(var(--short-margin) / 2);
	font-size: 11px;
	border-radius: 4px;
}

.variable > .details {
	display: none;
	grid-column: -3 / span 2;
	border-top: 1px solid #11111133;
}

.variable:has(> .expand-arrow > input:checked) > .details {
	display: block;
}

.variable.view:has(> .expand-arrow > input:checked) > .border {
	grid-row: span 2;
}

.variable > .details > article {
	display: flex;
	justify-content: space-between;
	font-size: 11px;
	color: #111111CC;
	padding: 2px;
	border-bottom: 1px solid #11111133;
	column-gap: var(--short-margin);
	overflow: hidden;
}

.variable.view:has(> .checkbox > input:enabled) > span,
.variable.view.harmonized + .border + .variable.view.right > span {
	font-weight: 600;
	color: #032F0E;
}

.variable.view.harmonized + .border {
	background-color: #73777D;
}

.variable.view:has(> .checkbox > input:enabled) > .border {
	border-color: #73777D;
}

.variable.view:has(> .checkbox > input:enabled) > .expand-arrow {
	color: #043E12;
}

.variable.view:has(> .checkbox > input:checked),
.variable.view.harmonized:has(> .checkbox > input:checked) + .border + .variable.view.right {
	background-color: #EBF5ED;
}

.variable.view.harmonized:has(> .checkbox > input:checked) + .border {
	background-color: transparent;
	background-image: linear-gradient(#73777D, #73777D), linear-gradient(#EBF5ED, #EBF5ED);
	background-clip: content-box, padding-box;
}

.variable.view > .checkbox:has(> input:disabled) {
	background-color: #1111110D;
	border-color: #11111133;
	cursor: not-allowed;
}

.variable-status {
	display: flex;
	align-items: center;
	column-gap: var(--short-margin);
	padding: 1px 0;
}

.totals-container {
	--items: 0;
	display: grid;
	grid-template-columns: 1fr 1px 1fr;
	gap: var(--default-margin);
	padding-bottom: 24px;
	border-bottom: 1px solid #BFC6CF;
	margin-bottom: var(--short-margin);
}

.totals-article {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-row: span calc(3 + var(--items));
	align-content: start;
	gap: inherit;
}

.totals-article:first-child {
	grid-column: span 2;
	border-right: 1px solid #D9E0E7;
}

.totals-article > * {
	grid-column: 1;
}

.totals-article > h4 {
	margin: 0;
	font-size: 17px;
	font-weight: 700;
	padding-bottom: var(--short-margin);
	border-bottom: 1px solid #BFC6CF;
	margin-bottom: calc(-1 * var(--short-margin));
}

.totals-article > h5 {
	margin: 0;
	font-size: 17px;
	font-weight: 600;
}

.totals-items {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span var(--items);
	grid-template-columns: auto 1fr;
	gap: inherit;
	align-items: center;
}

.totals-items > span {
	font-size: 15px;
	font-weight: 600;
}

.totals-items input {
	text-align: right;
	width: 100%;
	min-width: 10em;
}

.totals-article:first-child > .totals-items input {
	padding-left: calc(var(--default-margin) + 20px + 12px);
}

.totals-items > label {
	position: relative;
}

.totals-article:first-child > .totals-items > label::after {
	position: absolute;
	left: var(--default-margin);
	top: 0;
	bottom: 0;
	content: url('images/edit.svg');
	display: flex;
	align-items: center;
}

.totals-article > .button {
	justify-self: end;
}

.dual-container.single > .variable {
	padding: var(--short-margin) var(--default-margin);
}

.totals-container.single {
	grid-template-columns: minmax(auto, 330px);
	justify-content: center;
}

.totals-container.single > .totals-article {
	border: none;
	grid-row: span calc(2 + var(--items));
	grid-column: 1;
}

.empty-content {
	display: flex;
	flex-direction: column;
	margin: var(--default-margin);
	background-color: #EBF5ED;
	border-radius: 6px;
	align-items: center;
}

.empty-content > p {
	margin: 0;
	color: #111111B2;
	font-size: 17px;
	max-width: 600px;
	text-align: center;
	text-wrap: balance;
}

.empty-content > img {
	height: 100px;
	margin-top: 40px;
}

.empty-content > span {
	font-size: 13px;
	font-weight: 600;
	color: #11111180;
}

.weight-form {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	padding: 48px;
	margin: auto;
	row-gap: var(--default-margin);
}

.weight-form > .inputs {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: var(--short-margin) var(--default-margin);
	align-items: center;
	margin-bottom: calc(-1 * var(--short-margin));
}

.weight-form > .inputs.single {
	grid-template-columns: 1fr;
}

.weight-form > .inputs > label, .weight-form > .inputs > .extra {
	display: flex;
	align-items: center;
	column-gap: var(--short-margin);
	font-size: 15px;
	font-weight: 600;
}

.weight-form > .inputs > label {
	grid-column: 1;
}

.weight-form > .inputs > input, .weight-form > .inputs > select {
	grid-column: 1;
	margin-bottom: var(--short-margin);
}

.weight-form > .inputs > .extra {
	grid-column: 2;
	color: #585B5F;
	margin-bottom: var(--short-margin);
}

.vars-table {
	display: flex;
	flex-direction: column;
	border: 1px solid #11111180;
	border-radius: 6px;
	font-size: 15px;
	color: #585B5F;
	overflow: hidden;
}

.vars-table > article {
	padding: var(--short-margin) var(--default-margin);
}

.vars-table > :not(:last-child) {
	border-bottom: 1px solid #D9E0E7;
}

.vars-table > :first-child {
	border-bottom: 1px solid #11111180;
	font-weight: 600;
	color: #032F0E;
	background-color: #EBF5ED;
}

.weight-form > a {
	align-self: flex-end;
	color: #087021;
	font-size: 15px;
	font-weight: 600;
	text-decoration: underline;
}

.weight-form > .button {
	align-self: flex-end;
}
